# Default server configuration for http
# Redirect http to https
server {
        listen 80 default_server;
        listen [::]:80 default_server;

        server_name _;

        return 301 https://$host$request_uri;
}

# Default server configuration for https
# Throw 403 if no specific domain is matched
# FIXME: Custom 403
server {
        listen 443 ssl default_server;
        listen [::]:443 ssl default_server;
        server_name _;

        ssl_certificate {{ ssl_certificate_path }};
        ssl_certificate_key {{ ssl_certificate_key_path }};

        location / {
                return {% if default_redirection is defined %}301 {{ default_redirection }}{% else %}403{% endif %};
        }
}

