[program:{{ item.key }}]
directory={{ home_path }}/{{ item.key }}/otree/
command=/bin/bash -c "source {{ home_path }}/{{ item.key }}/.venv_otree/bin/activate && otree runprodserver"
environment=DATABASE_URL="postgres://{{ item.key }}:{{ item.value.admin_pw }}@localhost:5432/instance_{{ item.key }}",REDIS_URL="{{ item.value.redis }}",OTREE_ADMIN_PASSWORD="{{ item.value.admin_pw }}",OTREE_AUTH_LEVEL="{{ item.value.auth_level }}",OTREE_SECRET_KEY="{{ item.value.secret_key }}",OTREE_PRODUCTION="{{ item.value.production }}",PORT={{ item.value.port }}
autostart=true
autorestart=true
startretries=3
stopasgroup=true
killasgroup=true
user={{ item.key }}
; redirect_stderr=true
stdout_logfile=/dev/null
stdout_logfile=/var/log/supervisor/{{ item.key }}.out.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=10
stdout_events_enabled=false

stderr_logfile=/dev/null
stderr_logfile=/var/log/supervisor/{{ item.key }}.err.log
stderr_logfile_maxbytes=1MB
stderr_logfile_backups=10
stderr_events_enabled=false
